@use "index" as*;

.header {
  box-sizing: border-box;
  // background-color: gray;
  position: fixed; top: 0; left: 0;
  width: 100%; height: 120px;
  display: flex; justify-content: space-between; align-items: center;
  padding: 0 36px;
  z-index: 98;
  svg.path {    
    .path-animation {
      fill: none;
      stroke: #3EFF3E;
      stroke-width: 15;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-dasharray: 1000; 
      stroke-dashoffset: 1000; 
      
      &.p2 {        
        animation-delay: 2s;
      }
    }
    .fill-white {
      fill: white;
      &.move-left {
        transform: translateX(-250px) !important;
        transition: transform 1s ease-in-out ;
      }
    }
    &:hover {
      .path-animation {
        animation: abv 2s ease-in-out forwards;  
        &.p1 {        
          animation-delay: 1s;
        }
      }
      .move-left {
        transform: translateX(0px) !important;
      }
      
    }
    
    @keyframes abv {
      0% {
        stroke-dashoffset: 1000;                
      }      
      100% {   
        stroke-dashoffset: 0;      
      }
    }
    
    
  }
  .middle-p {    
    height: 23px;
    overflow: hidden;
    .move {
      display: flex; flex-direction: column;
      gap: 10px;  align-items: center;
      transform: translateY(0);
      animation: aaa 20s ease-in-out infinite;      
      p {
        color: white;
        font-size: 18px;
      }      
    }
    @keyframes aaa {
      0% {
        transform: translateY(0px);
      }
      45% {
        transform: translateY(0px);
      }
      50% {
        transform: translateY(-32px);
      }
      95% {
        transform: translateY(-32px);
      }
      100% {
        transform: translateY(0px);
      }
    }

  }
  .open-side {
    width: 40px; height: 40px;
    background-color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    z-index: 100;
    position: relative;
    display: flex;
    justify-content: center; 
    align-items: center;
    .os {      
      position: absolute;      
      transition: opacity 2s ease-in-out;
      &.os1 {
        opacity: 1;
      }
      &.os2 {        
        opacity: 0;
      }
    }
    &.active {
      .os {
        &.os1 {
          opacity: 0;
        }
        &.os2 {          
          opacity: 1;
        }
      }
    }

  }
}
.side-menu {
  z-index: 95;
  box-sizing: border-box;
  background-color: white;
  position: fixed; right: 0; top: 0 !important;
  width: 200px;
  height: 100vh;
  padding: 120px 40px;
  display: flex; flex-direction: column;
  align-items: flex-end;
  transform: translateX(200px);
  transition: transform 1s ease-in-out;  
  gap: 11px;  
  button.nav {
    opacity: 0;
    transform: translateY(-30px);    
    font-size: 18px;
    color: black;
    transition: color 0.3s 0s, transform 0.5s 1s , opacity 0.5s 1s;
    font-weight: 500;
    &:hover {
      color: #3EFF3E;
    }
    &.home {
      color: #3EFF3E;      
      &:hover {
        color: #000;
      }
    }
    &.no {
      transition: color 0.3s 0s, transform 0.5s 1.2s , opacity 0.5s 1.2s;
    }
    &.bottom {
      color: #00000050;
      font-size: 14px;
      transition: color 0.3s 0s, transform 0.5s 1.4s , opacity 0.5s 1.4s;
      &:hover {
        color: #3EFF3E;
      }
    }
  }
  .login {
    position: absolute;
    bottom: 36px;
    display: flex;
    grid-area: 5px;
    button {
      font-size: 14px;
      color: #00000050;
      &:hover {
        color: #000;
      }
    }
  }
  &.active {
    transform: translateX(0px);
    button {      
      opacity: 1;
      transform: translateY(0px);
    }
  }
}
.left-fixed {
  position: fixed;
  left: 0; top: calc(50% - 85px);
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between; align-items: center;
  background-color: white;
  gap: 10px;
  padding: 12px 10px;
  box-sizing: border-box;
  height: 170px; width: 53px;
  p.w {
    font-size: 28px;
    color: #000;
  }
  p.home {
    font-size: 18px;
    color: #000;
    rotate: -90deg;
    margin-bottom: 16px;
  }

}
.rignt-fixed {
  position: fixed; bottom: 30px; right: 30px;
  display: flex;
  z-index: 40;
  width: 130px; height: 130px;
  align-items: center; justify-content: center;
  background-color: #33333300;
  // background-color: white;
  transition: background 0.2s ease-in-out;
  border-radius: 50%;
  .circle{
    width: 60px; height: 60px;
    background-color: #e16262;
    border-radius: 50%;
  }
  .custom-cursor {
    position: fixed;
    width: 140px; height: 90px;
    display: none;
    flex-direction: column;
    box-sizing: border-box; 
    align-items: center; justify-content: center;
    padding: 10px; 
    border-radius: 100px;
    rotate: -15deg; gap: 8px;
    background-color: #3EFF3E;
    opacity: 0.7;
    pointer-events: none;
    p {
      font-size: 12px;
      color: #000;
    }
    span {
      font-size: 24px;
    }
    transform: translate(-40%, -60%);
  }
  &:hover {
    background-color: #333333;
    .custom-cursor {
      display: flex !important;
      z-index: 55;
    }
  }

}
.mouse {  
  transition: transform 0.5s ease-in-out;
  &.path {    
    &.scrolled-down {
      transform: translateX(-150px);
    }
  }  
  &.open-side {    
    &.scrolled-down {
      transform: translateX(100px);
    }
  }
  &.rignt-fixed {    
    &.scrolled-down {
      transform: translateX(170px);
    }
  }
}