@use "index" as*;

.intro {
  position: fixed;
  top: 0; left: 0;
  width: 100vw; height: 100vh;
  z-index: 1000;
  font-size: 128px;
  color: #000; background-color: #f0f0f0;
  display: flex;
  justify-content: center; align-items: center;
  transform: translateY(0);
  opacity: 1;
  transition: transform 1s 1s , opacity 0.5s 2s;
  &.end {
    transform: translateY(-100%);
    opacity: 0;
  }
}