@use "index" as* ;

.section {
  box-sizing: border-box;
  width: 100%;
  height: 980px;  
  display: flex;
  padding: 0 36px;
}
.section1 {
  position: relative;
  flex-direction: column;
  padding-top: 250px;
  gap: 16px;
  .canvus {
    margin-left: -10px;
    margin-top: 10px;
    position: absolute;
    top: 0 ; left: 0;
    width: 100vw; height: 100vh;
    z-index: -10;
  }
  .move-font {  
    width: 100%; 
    display: flex; justify-content: center;  
    p {
      text-wrap: nowrap;
      font-size: 200px;
      color: white;
      span {
        font-size: 68px;
        color: #3EFF3E;
      }
      @media (max-width : 1200px) {
        font-size: 128px;
      }
    }
  }
  .middle-font {
    display: flex;
    gap: 72px;
    .m-f {
      p {
        font-size: 15px;
        color: white;
        span {
          color: #3EFF3E;
        }
      }
    }
  }
  .s1-bt-area {
    position: absolute;
    bottom: 90px; left: 36px;
    display: flex;
    gap: 36px;
    .move-bt {
      overflow: hidden; 
      display: flex; justify-content: space-between;
      width: 200px; height: 50px;
      border-radius: 25px;
      padding: 14px 20px;
      box-sizing: border-box;
      border: 1px solid white;
      background-color: #ffffff70;
      .s1-slid-font {
        display: flex; flex-direction: column;
        gap: 25px;
        transform: translateY(0);
        transition: transform 0.3s ease-in-out;
        p {
          font-size: 14px;
        }
        
      }
      .arrow {
        width: 30px; height: 30px;
        border-radius: 30px;
        display: flex; align-items: center; justify-content: center;    
        background-color: black;
        color: white;
        margin-top: -5px;        
        p {
          margin-top: -5px;
        }
      }
      &:hover {
        .s1-slid-font {
          transform: translateY(-42px);
        }
        .arrow {
          background-color: white;
          color: black;
        }
      }
    }
  }
}
.section2 {
  overflow: visible !important;
  display: flex; 
  flex-direction: column;
  align-items: center;
  padding-top: 400px;
  padding-bottom: 250px;
  height: auto;
  position: relative;
  .s2-area {
    width: 100%; max-width: 870px;
    // height: ;
    display: flex; flex-direction: column;
    gap: 32px;
    p.title {
      color: #ffffff;
      font-size: 14px;
    }
    p.text {
      font-size: 54px;
      span.hig {
        color: #3EFF3E;
      }
    }
    p.last {
      color: #ffffff;
      width: 50%; max-width: 780px;
      margin-top: 30px;
      font-size: 14px;
      @media (max-width : 1200px) {
        width: 100%;
      }
    }
  }
  .cube {
    z-index: -10;
    position: absolute;
    top: 1000px ; right: 30%;
    width: 300px; height: 300px;
    transform-style: preserve-3d;
    transform: rotateX(30deg) rotateY(45deg);
    transition: transform 0.1s ease-in-out;
    .face {
      position: absolute;
      box-sizing: border-box;
      border: 2px solid;
      width: 100%; height: 100%;
      background-color: #3EFF3E50;
      &.front { transform: translateZ(150px); }
      &.back { transform: rotateY(180deg) translateZ(150px); }
      &.left { transform: rotateY(-90deg) translateZ(150px); }
      &.right { transform: rotateY(90deg) translateZ(150px); }
      &.top { transform: rotateX(90deg) translateZ(150px); }
      &.bottom { transform: rotateX(-90deg) translateZ(150px); }
    }
  }
  svg {
    overflow: visible;
    position: absolute;
    display: flex;    
    top: 30%; left: 0;
    z-index: -10;
    path {
      position: absolute;
      top: 0; left: 0 ;
      width: 100%;
    }
  }  
  .img-area {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 500px;
    width: 700px; height: 700px;
    position: relative;
    img {
      width: 100%; 
      transform: scaleX(-1);
    }
    .top-title {
      position: absolute;
      top: 0; right: calc(50% - 250px);
      display: flex; flex-direction: column;
      align-items: flex-end;
      .big {
        font-size: 70px;
        color: white;
      }
      .w {
        font-size: 16px;
        color: white;
        cursor: pointer;
        span {
          color: #3EFF3E;
        }
        &.d {
          color: gray;
          &:hover {
            color: white;
          }
        }
      }
    }
    .bottom-title {
      position: absolute;
      bottom: 0; left: 10%;
      color: #ffffff;
      font-size: 128px;
      span {
        color: #3EFF3E;
      }
    }
    .custom-cursor-s2 {
      box-sizing: border-box;
      padding: 20px;
      // top: 0; left: 0;
      background-color: #3EFF3E90;
      border-radius: 40px;
      position: absolute;
      display: none;
      rotate: -15deg;
      text-wrap: nowrap;
      z-index: 40;
      transform: translate(-135px , -60px);
      p {
        font-size: 12px;
        color: #000;
      }
    }
    &:hover {
      .custom-cursor-s2 {
        display: flex;
        z-index: 40;
      }
    }
  }
}
.section3 { 
 padding: 100px 0;
 overflow: hidden;
 .s3sw {
  rotate: -2deg;
  transform: translateX(10px);
  box-sizing: border-box;
  padding-top: 50px;  
  width: calc(100% + 50px) !important; height: 1000px;
  display: flex; align-items: center;
  .ss {    
    position: relative;
    height: 550px;  width: 400px !important;
    .ss-img-area {
      position: relative;
      width: 100%; height: 100%;
      .img {
        width: 100%; height: 100%;
        background-color: gray;
        transform: scale(1);
        transition: transform 0.2s ease ;
        z-index: 25;
        box-sizing: border-box;         
      }
      .circle {
        position: absolute;
        top: calc(50% - 100px); left: calc(50% - 100px);
        height: 200px; width: 200px;
        background-color: #ffffff30;
        display: none;
      }
      .font {
        rotate: 2deg;
        position: absolute;
        bottom: -30px; left: 0;
        display: flex; flex-direction: column;
        z-index: 30;
        .f-t {
          font-size: 34px;
          color: #fff;
          span {
            color: #3EFF3E;
          }
        }
        .f-b {
          font-size: 14px;
          color: #ffffff90;
        }
      }
      &:hover {
        .img {
          transform: scale(1.05);
        }
        .circle {
          display: block; 
          border-radius: 50%;
        }
      }
    }
  }  
 }
}
.section4 {  
  overflow: visible !important;
  display: flex; 
  flex-direction: column;
  align-items: center;
  padding-bottom: 500px;
  height: auto;
  position: relative;
  perspective: 1000px;
  .s4-area {
    width: 100%; max-width: 870px;
    // height: ;
    display: flex; flex-direction: column;
    gap: 32px;
    p.title {
      color: #ffffff;
      font-size: 14px;
    }
    p.text {
      font-size: 54px;
      span.hig {
        color: #3EFF3E;
      }
    }
    p.last {
      color: #ffffff;
      width: 50%; max-width: 780px;
      margin-top: 30px;
      font-size: 14px;
      @media (max-width : 1200px) {
        width: 100%;
      }
    }
  }
  .cube {
    z-index: -10;
    position: absolute;
    top: 40%;
    left: 70%;
    transform-origin: center;
    width: 150px;
    height: 150px;
    transform-style: preserve-3d;
    transform: translate(-50%, -50%) rotateX(30deg) rotateY(45deg);
    transition: transform 0.1s ease-in-out;
  
    .face {
      position: absolute;
      box-sizing: border-box;
      border: 2px solid;
      width: 100%;
      height: 100%;
      background-color: rgba(62, 255, 62, 0.5);
  
      &.front {
        transform: translateZ(75px);
      }
      &.back {
        transform: rotateY(180deg) translateZ(75px);
      }
      &.left {
        transform: rotateY(-90deg) translateZ(75px);
      }
      &.right {
        transform: rotateY(90deg) translateZ(75px);
      }
      &.top {
        transform: rotateX(90deg) translateZ(75px);
      }
      &.bottom {
        transform: rotateX(-90deg) translateZ(75px);
      }
    } 
  }
}
.section5 {
  height: 100vh ;
  background-color: #ffffff; 
  padding: 0;  
  overflow: hidden;
  .horizontal {
    background-color: #ffffff;
    display: flex;
    height: 100vh;
    // overflow-x: scroll;
    .ho-section {
      width: 1900px;
      height: 100%;
      box-sizing: border-box;
      &.ho-s1 {
        padding: 36px;
        display: flex;
        .ho-s1-left {
          width: 100%;
          flex-direction: column;
          margin-top: 300px;
          p {
            font-size: 200px;
            span {
              color: #3EFF3E;
            }
          }
          .mg {
            margin-left: 50px;
          }
        }
        .ho-s1-right {
          width: 100%;
          display: flex; flex-direction: column;
          gap: 75px;
          .s1-r-t {
            display: flex;flex-direction: column;
            p {
              font-size: 40px;
              font-weight: 600;
              span {
                color: #3EFF3E;
              }
            }
          }
          .s1-r-b {
            display: flex; flex-direction: column;
            p {
              font-size: 16px;
            }
          }
        }
      }
      &.ho-s2 {
        display: flex;
        justify-content: flex-end;
        padding: 0 36px;
        gap: 100px;
        .s2-img-area {
          display: flex; flex-direction: column;
          align-items: flex-end; justify-content: space-between;
          .img1 {
            width: 500px; height: 450px;
            background-color: gray;
            img {
              width: 100%; height: 100%;
            }
          }
          .img2 {
            width: 260px; height: 125px;
            background-color: gray;
            img {
              width: 100%; height: 100%;
            }
          }
        }
        .s2-text-area {
          height: 100%; justify-content: center;
          display: flex; flex-direction: column;
          gap: 30px;
          .big {
            font-size: 160px;
            span {
              color: #3EFF3E;
            }
            &.l-margin {
              margin-left: -150px;
              margin-top: -100px;
            }
          }
          .middle {
            margin-top: -10px;
            font-weight: 600;
          }          
        }
      }
      &.ho-s3 {
        display: flex;
        padding: 0;
        .s3-img-area {
          position: relative;
          width: 50%; height: 100%;
          background-color: gray;
          .img {
            position: absolute; 
            top: 0; left: 0;
            width: 100%; height: 100%;
            &.img1 {
              background-color: blue;
            }
            &.img2 {
              // display: none;
              background-color: yellow;
            }
            &.img3 {
              // display: none;
              background-color: green;
            }

          }
          .circle {
            position: absolute;
            width: 130px; height: 130px;
            z-index: 100;
            top: calc(50% - 65px);
            left: calc(50% - 65px);
            background-color: #333;
            border-radius: 50%;
            border: 1px solid;
            display: none;
          }
          &:hover {
            .circle {
              display: flex;
            }
          }
        }
        &.Entered {
          .img2 {
            display: block;
          }
        }
        &.Left {
          .img3 {
            display: block;
          }
        }
        .cube {
          z-index: -10;
          position: absolute;
          top: 50% ; left: 50%;
          width: 300px; height: 300px;
          transform-style: preserve-3d;
          transform: rotateX(45deg) rotateY(76deg);
          transition: transform 0.1s ease-in-out;
          .face {
            position: absolute;
            box-sizing: border-box;
            border: 2px solid;
            width: 100%; height: 100%;
            background-color: #3EFF3E50;
            &.front { transform: translateZ(150px); }
            &.back { transform: rotateY(180deg) translateZ(150px); }
            &.left { transform: rotateY(-90deg) translateZ(150px); }
            &.right { transform: rotateY(90deg) translateZ(150px); }
            &.top { transform: rotateX(90deg) translateZ(150px); }
            &.bottom { transform: rotateX(-90deg) translateZ(150px); }
          }
        }
      }
      &.ho-s4 {
        display: flex;
        justify-content: flex-end;
        padding: 0 36px;        
        .s4-img-area {
          display: flex; flex-direction: column;
          align-items: flex-end; justify-content: space-between;
          .img1 {
            width: 500px; height: 450px;
            background-color: gray;
            img {
              width: 100%; height: 100%;
            }
          }
          .img2 {
            width: 260px; height: 125px;
            background-color: gray;
            img {
              width: 100%; height: 100%;
            }
          }
        }
        .s4-text-area {
          height: 100%; justify-content: center;
          display: flex; flex-direction: column;
          gap: 30px;
          margin-right: -130px;
          .big {
            font-size: 160px;
            span {
              color: #3EFF3E;
            }
            &.l-margin {
              margin-left: 350px;
              margin-top: -100px;
            }
          }
          .middle {
            margin-top: -10px;
            font-weight: 600;
          }          
        }
      }
      &.ho-s5 {        
        display: flex;
        padding: 0;
        .s5-img-area {
          position: relative;
          width: 50%; height: 100%;
          background-color: gray;
          .img {
            position: absolute; 
            top: 0; left: 0;
            width: 100%; height: 100%;
            &.img1 {
              background-color: blue;
            }
            &.img2 {
              // display: none;
              background-color: yellow;
            }
            &.img3 {
              // display: none;
              background-color: green;
            }

          }
          .circle {
            position: absolute;
            width: 130px; height: 130px;
            z-index: 100;
            top: calc(50% - 65px);
            left: calc(50% - 65px);
            background-color: #333;
            border-radius: 50%;
            border: 1px solid;
            display: none;
          }
          &:hover {
            .circle {
              display: flex;
            }
          }
        }
        &.Entered {
          .img2 {
            display: block;
          }
        }
        &.Left {
          .img3 {
            display: block;
          }
        }
        .cube {
          z-index: -10;
          position: absolute;
          top: 50% ; left: 50%;
          width: 300px; height: 300px;
          transform-style: preserve-3d;
          transform: rotateX(45deg) rotateY(76deg);
          transition: transform 0.1s ease-in-out;
          .face {
            position: absolute;
            box-sizing: border-box;
            border: 2px solid;
            width: 100%; height: 100%;
            background-color: #3EFF3E50;
            &.front { transform: translateZ(150px); }
            &.back { transform: rotateY(180deg) translateZ(150px); }
            &.left { transform: rotateY(-90deg) translateZ(150px); }
            &.right { transform: rotateY(90deg) translateZ(150px); }
            &.top { transform: rotateX(90deg) translateZ(150px); }
            &.bottom { transform: rotateX(-90deg) translateZ(150px); }
          }
        }
      }
    }
  }
}
.s5-null {
  width: 100%;
}